*.swo
*.swp
analysis/*/results
analysis/*/data
*condor*
analysis/004/log.out
analysis/004/tmp
analysis/002/.Rhistory
analysis/002/.Rprofile
analysis/002/.gitignore
analysis/002/hs_err_pid522891.log
analysis/002/packrat/
analysis/003/test/
*.sha256
analysis/004/bin/removing_chromosome_from_vcf.sh
analysis/004/log/
analysis/004/log.out.2017-08-28
analysis/007a/
test-materials/
*QC-results*
*Log*
