*.swo
*.swp
*/results
*/data
*condor*
004/log.out
004/tmp
002/.Rhistory
002/.Rprofile
002/.gitignore
002/hs_err_pid522891.log
002/packrat/
003/test/
*.sha256
004/bin/removing_chromosome_from_vcf.sh
004/log/
004/log.out.2017-08-28
007a/
